/acinclude.m4
/aclocal.m4
/autom4te.cache/
/build/
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/configure
/include/
/libtool
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/modules/
/run-tests.php
/*.dep
/*.la
/*.lo
/.libs/
/src/*.dep
/src/*.lo
/src/.libs/
/tests/*.diff
/tests/*.exp
/tests/*.log
/tests/*.out
/tests/*.php
/tests/*.sh
/tests/*.mem
/docs/source-audit.raw.md
.DS_Store
